<h1>Pantry show</h1>
<%= link_to "+ Item", new_item_path %>
 <p><%= @pantry.items.count %> items</p>
<ul>
  <% @pantry.items.each do |item| %>
    <li><%= item.name %> || <%= link_to "edit", edit_item_path(item) %> ||
    <%= link_to "delete",
      item_path(item),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure? Item will also be removed from the shopping list"}
    %></li>
  <% end %>
</ul>
